.articleVoting .slds-card__body+.slds-card__body {
    float: right;
    margin-right: -14px;
    margin-bottom: 0;
    margin-top: -32px;
}

.articleAdditionalInfo > ul >  li {
    display: inline-block;
    font-size: .8125rem;
}

.articleAdditionalInfo > ul > li:after {
    content: "•";
    margin-right: 5px;
    margin-left: 5px;
}

.articleAdditionalInfo > ul > li:last-child:after {
    content: "";
}

.articleAdditionalInfo > h1 {
    font-size: 1.5rem;
}